header {
  background-color: #A4E6FA; }
  header .navbar-collapse {
    justify-content: flex-end; }
  header .navbar-nav {
    background-color: #EBD591;
    align-items: center; }
  header .navbar-nav a:hover {
    background-color: #F594C8; }
  header .navbar-toggler {
    background-color: #F594C8 !important;
    border: 1px solid #895FF5 !important; }
  header .navbar-toggler:focus {
    box-shadow: none; }
  header .navbar-toggler-icon {
    filter: invert(49%) sepia(69%) saturate(5794%) hue-rotate(238deg) brightness(102%) contrast(92%); }
  header .nav-link {
    text-align: center; }
  header .nav-link a:hover {
    background-color: #F594C8; }
  header .navbar-brand {
    color: #895FF5; }

footer {
  background-color: #A4E6FA;
  padding: 20px;
  align-items: center; }
  footer .container {
    padding: 20px; }
  footer .container__footer {
    background-color: #A4E6FA; }

.index {
  background-color: #EBD591; }
  .index .carousel-item {
    height: 30rem;
    background-position: center;
    background-size: cover; }
  .index .container {
    background-color: #EBD591; }
  .index .card-body {
    background-color: #F594C8;
    border: 1px solid black; }
  .index .card-header {
    align-items: center;
    text-align: center;
    background-color: #F594C8; }
  .index .card {
    border: solid black !important; }

.productos {
  background-color: #EBD591;
  padding: 10px; }
  .productos .title {
    text-align: center;
    border: 2px solid black;
    border-radius: 8px;
    background-color: #F594C8; }
  .productos .card {
    text-align: center !important;
    border: none !important;
    border-radius: 8px;
    box-shadow: 0 2px 2px;
    background-color: #F594C8; }
  .productos .card:hover {
    transform: translateY(-15px);
    box-shadow: 0 2px 20px; }
  .productos .card-body {
    border-radius: 8px; }
  .productos .btn {
    background-color: #895FF5;
    border: none;
    color: white;
    transition: all .6s ease-in;
    margin: 5px;
    padding: 10px 20px; }
  .productos .btn:hover {
    background-color: #EBD591;
    color: white;
    animation: pulse .5s ease-in-out infinite; }

footer {
  background-color: #A4E6FA;
  padding: 20px;
  align-items: center; }
