/* RESEAT */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    }
/* HEADER */
header nav{
    background-color: #A4E6FA;
}
.navbar-collapse{
    justify-content: flex-end;
}
.navbar-nav{
    background-color: #EBD591;
    align-items: center;
}
.navbar-nav a:hover{
    background-color: #F594C8;
}
.navbar-toggler{
    background-color: #F594C8 !important;
    border: 1px solid #895FF5 !important ;
}
.navbar-toggler:focus{
    box-shadow: none;
}
.navbar-toggler-icon{
    filter: invert(49%) sepia(69%) saturate(5794%) hue-rotate(238deg) brightness(102%) contrast(92%);
}
.nav-link{
    text-align: center;
}
.nav-link a:hover{
    background-color: #F594C8;
}
.navbar-brand{
    color:#895FF5;
}
/* MAIN */
main{
    background-color: #EBD591;
}
.carousel-item{
    height: 30rem;
    background-position: center;
    background-size: cover;
}
.container{
    background-color: #EBD591;
}
.card-body{
    background-color: #F594C8;
    border: 1px solid black;
}
.card-header{
    align-items: center;
    text-align: center;
    background-color: #F594C8;
}
.card{
    border: solid black !important;
}
/* FOOTER */
footer{
    background-color: #A4E6FA;
    padding: 20px;
    align-items: center;
}
.container{
    padding: 20px;
}
.container__footer{
    background-color: #A4E6FA;
}
/* PAGINA-CONTACTO */

/* PAGINA-PREGUNTAS FRECUENTES */
.accordion-button{
    background-color: #EBD591 !important;
}
.accordion-button.collapse{
    align-self: center !important;
}
.accordion-body{
    background-color: #F594C8 !important;
    text-align: center !important;
}
