*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: #D3A5F6;
}

.navbar{
    background-color: #e3f2fd;
    height: 48px;
    padding: 10px 12px;
    position: relative;
}

.checkbox, .abrirmenuhamb, .cerrarmenuhamb{
    width: 24px;
    height: 24px;
    position: absolute;
    top: 10px;
    right: 12px;
    cursor: pointer;
}
.abrirmenuhamb, .cerrarmenuhamb{
    pointer-events: none;
}
.checkbox{
    opacity: 0;
}
.cerrarmenuhamb{
    display: none;
}
.checkbox:checked ~ .abrirmenuhamb{
    display: none;
}
.checkbox:checked ~ .cerrarmenuhamb{
    display: block;
}
.menu{
    width: 200px;
    position: absolute;
    top: -206px;
    z-index: -1;
    right: 0px;
    transition: 250ms;
}
.menu li{
    list-style: none;
}
.menu li a{
    text-decoration: none;
    color: black;
    background-color: #EBD591;
    display: block;
    padding: 10px 12px;
}
.menu li a:hover{
    background-color: #F594C8;
}
.checkbox:checked ~ .menu{
    top: 48px;
}

@media (min-width: 560px){
    .checkbox, .abrirmenuhamb, .cerrarmenuhamb{
        display: none;
    }
    .menu{
        top: 0;z-index: 1;
        width: unset;
        display: flex;
        height: 48px;
    }
    .menu a{
        height: 48px;
        padding: 14px 12px 6px;
    }
}
