.index{
    background-color: #EBD591;
    padding: 10px;
    .carousel-item{
        height: 30rem;
        background-position: center;
        background-size: cover;
    }
    .container{
        background-color: #EBD591;
    }
    .card-body{
        background-color: #F594C8;
        border: 1px solid black;
    }
    .card-header{
        align-items: center;
        text-align: center;
        background-color: #F594C8;
    }
    .card{
        border: solid black !important;
    }
}