.pregfrec{
    
    .accordion-button{
        background-color: #EBD591 !important;
    }
    .accordion-button.collapse{
        align-self: center !important;
    }
    .accordion-body{
        background-color: #F594C8 !important;
        text-align: center !important;
    }
}